version: '3'
networks:
  app-network: null
services:
  nginx:
    image: 'nginx:stable-alpine'
    container_name: 'nginx_techschool_frontend'
    ports:
      - '80:80'
    volumes:
      - './:/var/www/html'
      - './nginx-default.conf:/etc/nginx/conf.d/default.conf'
    networks:
      - app-network
  npm:
    image: 'node:13.7'
    container_name: 'npm_techschool_frontend'
    volumes:
      - './:/var/www/html'
    ports:
      - '1111:3000'
    working_dir: /var/www/html
  json-server:
    image: vimagick/json-server
    command: -H 0.0.0.0 -p 3001 -w db.json
    ports:
      - "3001:3001"
    volumes:
      - ./src/Configs:/data
    restart: always
