.posts {
  .posts-container {
    flex-wrap: wrap-reverse;
    .post-item {
      flex-direction: column;
      .posts-image {
        img {
          border-radius: 0.375rem;
          width: 100%;
        }
      }
    }
  }
}
