.search-result__content--wrap {
  h4 {
    font-size: 16px;
    color: var(--bs-black);
    padding: 20px 0 14px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--bs-border-color);
  }
  .content__item {
    display: flex;
    align-items: center;
    margin: 14px 0;
    cursor: pointer;
    &--image {
      width: 30px;
      height: 30px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: contain;
      }
    }
    &--text {
      margin-left: 7px;
      display: block;
    }
  }
}
